@use "bulma/sass/utilities/css-variables" as cv;

@use "./_variables" as var;
@use "./mixins" as mx;
@forward "./_responsiveness";

[data-tooltip] {
	@include cv.register-vars(
		(
			"tooltip-animation-duration": var.$tooltip-animation-duration,
			"tooltip-animation-transition-timing-function": var.$tooltip-animation-transition-timing-function,
			"tooltip-arrow-size": var.$tooltip-arrow-size,
			"tooltip-background-color-h": var.$tooltip-background-color-h,
			"tooltip-background-color-s": var.$tooltip-background-color-s,
			"tooltip-background-color-l": var.$tooltip-background-color-l,
			"tooltip-background-opacity": var.$tooltip-background-opacity,
			"tooltip-border-bottom-color-h": var.$tooltip-border-bottom-color-h,
			"tooltip-border-bottom-color-s": var.$tooltip-border-bottom-color-s,
			"tooltip-border-bottom-color-l": var.$tooltip-border-bottom-color-l,
			"tooltip-border-bottom-color-l-delta": var.$tooltip-border-bottom-color-l-delta,
			"tooltip-color": var.$tooltip-color,
			"tooltip-font-family": var.$tooltip-font-family,
			"tooltip-font-size": var.$tooltip-font-size,
			"tooltip-max-width": var.$tooltip-max-width,
			"tooltip-padding": var.$tooltip-padding,
			"tooltip-radius": var.$tooltip-radius,
			"tooltip-z-index": var.$tooltip-z-index,
			"tooltip-background-color": hsla(
				cv.getVar("tooltip-background-color-h"),
				cv.getVar("tooltip-background-color-s"),
				cv.getVar("tooltip-background-color-l"),
				cv.getVar("tooltip-background-opacity")
			)
		)
	);

	&:not(.is-loading),
	&:not(.is-disabled),
	&:not([disabled]) {
		cursor: pointer;
		overflow: visible;
		position: relative;

		@include mx.tooltip-box;

		&.has-tooltip-arrow {
			@include mx.tooltip-arrow;
		}

		&.has-tooltip-bottom {
			@include mx.tooltip-direction("bottom");
		}

		&.has-tooltip-left {
			@include mx.tooltip-direction("left");
		}

		&.has-tooltip-right {
			@include mx.tooltip-direction("right");
		}

		&.has-tooltip-multiline {
			@include mx.tooltip-multiline;
		}

		&.has-tooltip-text-left {
			&::before {
				text-align: left;
			}
		}

		&.has-tooltip-text-centered {
			&::before {
				text-align: center;
			}
		}

		&.has-tooltip-text-right {
			&::before {
				text-align: right;
			}
		}

		@each $name, $pair in var.$tooltip-colors {
			&.has-tooltip-#{$name} {
				@include cv.register-vars(
					(
						"tooltip-background-color-h": cv.getVar($name, "", "-h"),
						"tooltip-background-color-s": cv.getVar($name, "", "-s"),
						"tooltip-background-color-l": cv.getVar($name, "", "-l"),
						"tooltip-color": cv.getVar($name, "", "-invert"),
					)
				);
			}
		}

		@include mx.tooltip-hover {
			opacity: 1;
			visibility: visible;
		}

		&.has-tooltip-fade {
			@include mx.tooltip-fade;
		}
	}
}

span[data-tooltip] {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: hsl(
		cv.getVar("tooltip-border-bottom-color-h"),
		cv.getVar("tooltip-border-bottom-color-s"),
		calc(#{cv.getVar("tooltip-border-bottom-color-l")} - #{cv.getVar("tooltip-border-bottom-color-l-delta")})
	);
}

.control {
	span[data-tooltip] {
		border-bottom: none;
	}
}
