{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"jest": true
	},
	"globals": {
		"ENV": true,
		"page": true,
		"browser": true,
		"context": true,
		"jestPuppeteer": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 9,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		]
	}
}
