@use "bulma/sass/utilities/css-variables" as cv;

@mixin tooltip-hover {
	&:hover::before,
	&:hover::after,
	&.has-tooltip-active::before,
	&.has-tooltip-active::after {
		@content;
	}
}

@mixin tooltip-arrow-top {
	&.has-tooltip-arrow {
		&::after {
			top: 0;
			right: auto;
			bottom: auto;
			left: 50%;
			margin-top: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
			margin-right: auto;
			margin-bottom: auto;
			margin-left: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
			border-color: cv.getVar("tooltip-background-color") transparent transparent transparent;
		}
	}
}

@mixin tooltip-box-top {
	&::before {
		top: 0;
		right: auto;
		bottom: auto;
		left: 50%;
		top: 0;
		margin-top: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
		margin-bottom: auto;
		transform: translate(-50%, -100%);
	}
}

@mixin tooltip-top {
	@include tooltip-arrow-top;
	@include tooltip-box-top;
}

@mixin tooltip-arrow-bottom {
	&.has-tooltip-arrow {
		&::after {
			top: auto;
			right: auto;
			bottom: -1px;
			left: 50%;
			margin-top: auto;
			margin-right: auto;
			margin-bottom: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
			margin-left: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
			border-color: transparent transparent cv.getVar("tooltip-background-color") transparent;
		}
	}
}

@mixin tooltip-box-bottom {
	&::before {
		top: auto;
		right: auto;
		bottom: 0;
		left: 50%;
		margin-top: auto;
		margin-bottom: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
		transform: translate(-50%, 100%);
	}
}

@mixin tooltip-bottom {
	@include tooltip-arrow-bottom;
	@include tooltip-box-bottom;
}

@mixin tooltip-arrow-left {
	&.has-tooltip-arrow {
		&::after {
			top: auto;
			right: auto;
			bottom: 50%;
			left: 0;
			margin-top: auto;
			margin-right: auto;
			margin-bottom: calc(#{cv.getVar("tooltip-arrow-size")} * -1);
			margin-left: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
			border-color: transparent transparent transparent cv.getVar("tooltip-background-color");
		}
	}
}

@mixin tooltip-box-left {
	&::before {
		top: auto;
		right: auto;
		bottom: 50%;
		left: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
		transform: translate(-100%, 50%);
	}
}

@mixin tooltip-left {
	@include tooltip-arrow-left;
	@include tooltip-box-left;
}

@mixin tooltip-arrow-right {
	&.has-tooltip-arrow {
		&::after {
			top: auto;
			right: 0;
			bottom: 50%;
			left: auto;
			margin-top: auto;
			margin-right: calc(#{cv.getVar("tooltip-arrow-size")} * -1);
			margin-bottom: calc(#{cv.getVar("tooltip-arrow-size")} * -1);
			margin-left: auto;
			border-color: transparent cv.getVar("tooltip-background-color") transparent transparent;
		}
	}
}

@mixin tooltip-box-right {
	&::before {
		top: auto;
		right: calc(#{cv.getVar("tooltip-arrow-size")} * -1 + 1);
		bottom: 50%;
		left: auto;
		margin-top: auto;
		transform: translate(100%, 50%);
	}
}

@mixin tooltip-right {
	@include tooltip-arrow-right;
	@include tooltip-box-right;
}

@mixin tooltip-direction($direction) {
	@if $direction == "top" {
		@include tooltip-top;
	} @else if $direction == "right" {
		@include tooltip-right;
	} @else if $direction == "bottom" {
		@include tooltip-bottom;
	} @else if $direction == "left" {
		@include tooltip-left;
	}
}
